= simple_form_for([project, ticket]) do |f|
  = f.input :name
  = f.input :description
  %h3 Attachments
  = f.simple_fields_for :attachments do |ff|
    = ff.input :file, as: :file, label: "File ##{ff.index + 1}"
    = ff.input :file_cache, as: :hidden

  = f.button :submit, class: 'btn btn-primary'
