= simple_form_for([project, ticket]) do |f|
  = f.input :name
  = f.input :description
  #fields
    %h3 Attachments
    - index = 0
    = f.simple_fields_for :attachments do |builder|
      = render partial: 'attachments/attachment', locals: { f: builder }
    = link_to_add_field('Add another file', f, :attachments, class: 'add_field')

  = f.button :submit, class: 'btn btn-primary'
